/*
-----
Home
-----
*/

.bounce {
  position: relative;
  -webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
  top: 0;
}

.bounce:hover {
  top: -10px;
}

.home-banner {
  color: #fff;
  /*margin: 0 0 100px;*/
}

.home .top-half {
  height: 50vh;
}

.home .bottom-half {
  height: auto;
}

.home-banner .row {
  position: relative;
  top: 10vh;
  margin: 0;
}

.home-banner h1 {
  font-size: 72px;
  font-weight: 700;
  margin: 0 0 10px;
}

.home-banner p {
  font-size: 27px;
  font-weight: 300;
  line-height: 40px;
  margin: 0
}

.home .page-content .top-half {
  background-color: #BE1D2C;
  background-image: url('../assets/slant-bg.svg');
  background-size: cover;
  background-position: center 11vh;
  background-repeat: no-repeat;
  padding: 0px 0 0;
}

.home-logo {
  padding: 0 10px;
}

.home-logo-link {
  /*width: 210px;*/
}

.home-2 .home-logo-link {
  /*width: 10vw;*/
}

.home-logo.chargify {
  position: relative;
  top: -6px;
}

.home-logo.twist {
  position: relative;
  top: -5px;
  width: 91%;
}

.home-logoWrapper {
}

.home-logoWrapper a {
  color: #fff;
}

.home-logoWrapper a:hover {
  color: #BE1D2C;
}

.home-logoWrapper span {
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  top: 29px;
}

.home-logoWrapper .twist-link span {
  position: relative;
  top: 12px;
}

/*.home-2 .page-content .bottom-half {
  margin-bottom: -135px;
}*/

.home-logoWrapper-bounce {
  /*bottom: 80px;*/
}

.home-logoWrapper-bounce h2 {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}

.home-logoWrapper .row .col.m3 {
  /*width: 150px;*/
}
/*
@media only screen and (min-width : 2201px) {

  nav .nav-wrapper {
    height: 100px;
  }

  .container {
    max-width: 1800px;
  }

  .team .icon-block > img {
    width: 20%;
  }

  .team .icon-block .social img {
    width: 10%;
  }

  .home-banner h1 {
    font-size: 120px;
  }

  .home-banner p {
    font-size: 50px;
    line-height: 80px;
  }

  .home .page-content .top-half {
    background-position: center 170px;
    padding: 11vh 0;
  }

  .home .home-logo-link {
    width: 13vw;
  }

  .home-logoWrapper {
    bottom: -65px;
  }
}

@media only screen and (min-width : 1700px) and (max-width : 2200px) {

  .home-banner h1 {
    font-size: 60px;
  }

  .home-banner p {
    font-size: 22px;
    line-height: 38px;
  }

  .home .page-content .top-half {
    background-position: center 95px;
    padding: 6.5vh 0 6vh;
  }

  .home .home-logo-link {
    width: 205px;
  }

  .home-logoWrapper {
    bottom: -25px;
  }
}

@media only screen and (min-width : 1101px) and (max-width : 1700px) {

  .home-banner h1 {
    font-size: 60px;
  }

  .home-banner p {
    font-size: 22px;
    line-height: 38px;
  }

  .home .page-content .top-half {
    background-position: center 11.2vh;
    padding: 5vh 0 4.5vh;
  }

  .home .home-logo-link {
    width: 200px;
  }

  .home-logoWrapper {
    bottom: -5vh;
  }

}

@media only screen and (min-width : 790px) and (max-width : 1100px) {
  .home-banner h1 {
    font-size: 54px;
  }

  .home-banner p {
    font-size: 20px;
    line-height: 38px;
  }

  .home .page-content .top-half {
    background-position: center 13.5vh;
    padding: 10vh 0 5vh;
  }

  .home .home-logo-link {
    width: 160px;
  }

  .home-logoWrapper {
    bottom: -4vh;
  }
}

@media only screen and (min-width : 601px) and (max-width : 789px) {
  .home-banner h1 {
    font-size: 40px;
  }

  .home-banner p {
    font-size: 15px;
    line-height: 30px;
  }

  .home .page-content .top-half {
    background-position: center 17vh;
    padding: 12vh 0 6.5vh;
  }

  .home .home-logo-link {
    width: 20vw;
  }

  .home-logoWrapper {
    bottom: -3.5vh;
  }
}

@media only screen and (max-width : 600px) {

  .home-banner {
    margin: 0;
    padding: 0;
  }

  .home-banner h1 {
    font-size: 36px;
  }

  .home-banner p {
    font-size: 10px;
    line-height: 20px;
  }

  .home-logo {
    margin-bottom: 25px;
    padding: 0;
    width: 100%;
  }

  .home-logoWrapper.home-logoWrapper-bounce {
    bottom: 35px;
  }

  .home-logoWrapper-bounce .home-logo-link {
    width: 25vw;
  }

  .home-logo-link {
    width: 30vw;
    margin-bottom: 15px;
  }

  .home-logoWrapper {
    bottom: 0px;
  }

  .home-logoWrapper span {
    display: none;
  }

  .home .page-content .bottom-half {
    margin-bottom: -90px;
  }

  .home .page-content .top-half {
    background-position: center 95px;
    padding: 40px 0 90px;
  }
}*/

@media only screen and (max-width : 600px) {
  .home-banner .row {
    top: 0vh;
  }

  .home .page-content .top-half {
    background-position: center 13vh;
  }

  .home .top-half {
    height: 45vh;
  }

  .home-logoWrapper a {
    height: 10vh;
  }
  main {
    display: block;
  }
}
