@media only screen and (min-width : 1300px) {

.home .skew {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
  }
  
}


/* Tablet */
@media only screen and (min-width : 601px) and (max-width : 992px) {

}

/* Phone */
@media only screen and (max-width : 600px) {

  .home .skew {
      bottom: 70px;
  }

  .home-banner {
    margin: 0 0 100px;
  }

  .home-logo {
    margin-bottom: 15px;
  }

  .home-logoWrapper {
    bottom: 80px;
  }

  .home-logoWrapper span {
    display: none;
  }
}
