/*
Scaleworks Red: #BE1D2C;
Scaleworks Gray: #A2A6A9;
*/

/* Sticky Footer */
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

main {
   flex: 1 0 auto;
 }

/*
-----
Base
-----
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', sans-serif;
/*font-family: 'Libre Baskerville', serif;*/
}

h1 {
  font-size: 30px;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {

}

/*
-----
Global/Modifiers
-----
*/

.block { display: block; }
.text-right { text-align: right; }

.lead { text-align: center; }
.lead h1 { font-family: ; font-size: 36px; font-weight: 700; text-transform: uppercase; }
.lead p { color: #A2A6A9; font-size: 14px; }
/*
-----
Navigation
-----
*/

.nav-wrapper {
  background-color: #BE1D2C;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*
-----
Home
-----
*/

.home .page-content .top-half {
  background-color: #BE1D2C;
}

.home .page-content .bottom-half {
  background-color: #FFF;
}

.home-banner {
  color: #fff;
  margin-top: 150px;
}

.home-banner p {
  font-weight: 300;
}

.home-logoWrapper a {
  color: #fff;
}

.home-logoWrapper a:hover {
  color: #BE1D2C;
}

/*
-----
Beliefs
-----
*/


/*
-----
Services
-----
*/


/*
-----
Articles
-----
*/


/*
-----
Team
-----
*/


/*
-----
Venture Equity
-----
*/


/*
-----
Footer
-----
*/

footer.page-footer {
  background-color: #1B1C1B;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

footer.page-footer .footer-copyright {
  line-height: 35px;
}

footer .social {
  margin: 0 10px;
  position: relative;
  top: 3px;
}

footer .twitter {
  margin-left: 20px;
}
