/*
Scaleworks Red: #BE1D2C;
Scaleworks Gray: #A2A6A9;
*/

.container {
  max-width: 1080px;
}

/* Sticky Footer */
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

main {
   flex: 1 0 auto;
 }

/*
-----
Base
-----
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  /*font-family: 'Libre Baskerville', serif;*/
  margin: 0;
}

p {
  line-height: 25px;
}

/*
-----
Global/Modifiers
-----
*/

.block { display: block; }
.full-width { width: 100%; }
.text-right { text-align: right; }

body .lead { margin: 60px 0 30px; text-align: center; }
body .lead h1 { font-size: 36px; font-weight: 700; text-transform: uppercase; }
body .lead p { color: #A2A6A9; line-height: 20px; font-size: 14px; font-weight: 300; margin: 5px 0 0 0; }

/*
-----
Navigation
-----
*/

nav ul a {
  line-height: 35px;
  margin: 0 15px;
  padding: 15px 15px 0 15px;
  transition: none;
}

nav ul a:hover {
  background-color: inherit;
  border-bottom: 1px solid;
}

nav ul a.active {
  border-bottom: 1px solid;
}

.nav-wrapper {
  background-color: #BE1D2C;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*
-----
Home
-----
*/

.home .page-content .top-half {
  background-color: #BE1D2C;
}

.home .page-content .bottom-half {
  background-color: #FFF;
  bottom: -50px;
  padding-top: 50px;
  position: relative;
}

.home .skew {
  background-color: #FFF;
  bottom: 110px;
  height: 245px;
  position: absolute;
  width: 100%;
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
}

.home-banner {
  color: #fff;
  margin: 150px 0;
}

.home-banner .row {
  margin: 0;
}

.home-banner h1 {
  font-size: 50px;
  margin: 0;
}

.home-banner p {
  font-weight: 300;
  margin: 0
}

.home-logo {
  width: 100%;
}

.home-logoWrapper {
  position: relative;
  bottom: 140px;
  z-index: 1;
}

.home-logoWrapper a {
  color: #fff;
}

.home-logoWrapper a:hover {
  color: #BE1D2C;
}

.home-logoWrapper span {
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  position: relative;
  text-transform: uppercase;
  top: 15px;
}


/*
-----
Beliefs
-----
*/
.beliefs-row {
  margin-bottom: 60px;
}

.beliefs-row h2 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.beliefs-row p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
/*
-----
Services
-----
*/

.services h2 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.services .icon-block {
  margin-bottom: 40px;
  padding: 0 25px;
  text-align: center;
}

.services .icon-block img {
  margin-bottom: 25px;
}

/*
-----
Team
-----
*/

.team .icon-block {
  background-color: #EDF0F2;
  border-radius: 5px;
  height: 300px;
  padding: 35px 40px;
  text-align: center;
  width: 250px;
}

.team .icon-block img {
  margin: 0 0 20px 0;
}

.team .icon-block h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.team .icon-block p {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}

.team .icon-block hr {
  width: 100px;
}
.team .icon-block .social {
  position: relative;
  top: 15px;
}

.team .icon-block .social.twitter {
  margin: 0 25px;
}

.team .team-row, .team .open-row {
  margin-left: 60px;
}

.team .open-row .apply {
  background-color: #D45466;
  border-radius: 5px;
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  padding: 7px 12px;
  position: relative;
  text-transform: uppercase;
  top: 20px;
}

.team .open-row .icon-block {
  padding: 35px 20px;
}

/*
-----
Venture Equity
-----
*/

.venture-equity p {
  margin-bottom: 40px;
}

/*
-----
Footer
-----
*/

footer {
  position: relative;
  z-index: 2;
}

footer.page-footer {
  background-color: #1B1C1B;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

footer.page-footer .footer-copyright {
  line-height: 35px;
  height: auto;
  min-height: 50px;
}

footer .social {
  margin: 0 10px;
  position: relative;
  top: 3px;
}

footer .twitter {
  margin-left: 20px;
}
