 /*
Scaleworks Red: #BE1D2C;
Scaleworks Gray: #A2A6A9;
*/

.container {
  max-width: 1080px;
}

/* Sticky Footer */
body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

main {
   flex: 1 0 auto;
 }

/*
-----
Base
-----
*/

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', sans-serif;
  /*font-family: 'Libre Baskerville', serif;*/
  margin: 0;
}

p {
  line-height: 25px;
}

img {
  width: 100%;
}
/*
-----
Global/Modifiers
-----
*/

.block { display: block; }
.full-width { width: 100%; }
.hide { display: none !important; }
.center-auto { float: none !important; margin: 0 auto !important; }
.text-right { text-align: right !important; }

body .lead { margin: 60px 0 30px; text-align: center; }
body .lead h1 { font-size: 50px; font-weight: 700; text-transform: uppercase; }
body .lead p { color: #A2A6A9; line-height: 20px; font-size: 18px; font-weight: 300; margin: 5px 0 0 0; }

body.team .lead { margin: -30px 0 100px; }
#open .lead { margin: -50px 0 100px; }
/*
-----
Navigation
-----
*/

nav ul a {
  line-height: 35px;
  margin: 0 15px;
  padding: 15px 15px 0 15px;
  transition: none;
}

nav ul a:hover {
  background-color: inherit;
  border-bottom: 1px solid;
}

nav ul a.active {
  border-bottom: 1px solid #fff;
}

.nav-wrapper {
  background-color: #BE1D2C;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav .brand-logo {
  background-image: url('../assets/scaleworks-white.svg');
  background-repeat: no-repeat;
  display: inline-block;
  width: 120px;
  height: 50px;
  position: absolute;
  top: 5px;
}

nav .brand-logo:hover {
  background-image: url('../assets/scaleworks-black.svg');
}

nav .button-collapse i {
  font-size: 40px;
}

/*
-----
Beliefs
-----
*/
.beliefs-row {
  margin-bottom: 60px;
}

.beliefs-row h2 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.beliefs-row p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
/*
-----
Services
-----
*/

.services img {
  width: auto;
}

.services h2 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.services .icon-block p {
  margin-top: 10px;
}

.services .icon-block img {
  margin-bottom: 25px;
  width: 31%;
}

.services .icon-block {
  margin-bottom: 40px;
  padding: 0 25px;
  text-align: center;
}

/*
-----
Team
-----
*/

.team img {
  width: auto;
}

.team .icon-block {
  background-color: #EDF0F2;
  border-radius: 5px;
  height: 300px;
  padding: 30px 30px;
  margin: 0 15px 45px;
  text-align: center;
}

.team .icon-block > img {
  width: 50%;
}

.team .icon-block img {
  margin: 0 0 20px 0;
}

.team .icon-block .social-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.team .icon-block .social img {
  width: 20%;
}

.team .icon-block h2 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.team .icon-block p {
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
}

.team .icon-block hr {
  width: 100px;
}
.team .icon-block .social {
  position: relative;
  top: 15px;
  margin: 0 8px;
}

.team-openings {
  background-color: #69C9D0;
  border-radius: 5px;
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  padding: 7px 40px;
  position: relative;
  /*text-transform: uppercase;*/
  top: 20px;
}

.icon-block.team-openings-block {
  padding: 35px 20px;
}

.team-openings-block p {
  margin: 0;
}

.team .team-row, .team .open-row {
  margin-left: 60px;
}

.team .open-apply p {
  font-size: 10px;
  line-height: 10px;
}

.team .open-row .apply {
  background-color: #D45466;
  border-radius: 5px;
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 1px;
  padding: 7px 12px;
  position: relative;
  text-transform: uppercase;
  top: 15px;
}

.team .open-row .icon-block {
  height: 285px;
  padding: 20px;
}

.team-container {
  max-width: 850px;
}
/*
-----
Venture Equity
-----
*/

.venture-equity p {
  margin-bottom: 40px;
}

/*
-----
Footer
-----
*/

footer {
  position: relative;
  z-index: 2;
}

footer.page-footer {
  background-color: #1B1C1B;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

footer.page-footer .footer-copyright {
  line-height: 35px;
  height: auto;
  min-height: 50px;
}

footer .social {
  margin: 0 10px;
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
}

footer .twitter {
  margin-left: 20px;
}

/*Tabs */

.indicator {
 display: none;
}

.tabs {
 text-align: center;
 top: 160px;
}

.tabs .col {
 float: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
 color: #D45566;
}

.tabs .tab a {
 color: gray;
 text-align: left;
}

.team .circle {
 background-color: gray;
 display: inline-block;
 height: 30px;
 position: relative;
 top: 10px;
 width: 30px;
}

.team .tab a:hover {
 color: #D45566;
}

.team .tab a:hover .circle {
 background-color: #D45566;
}

.team .tab a.active .circle {
 background-color: #fff;
 border: 6px solid #D45566;
}

.team .tab a .circle.open {
 left: -10px;
}

.team .tab a .circle.team {
 left: 10px;
}
