.side-nav a {
  font-size: 30px;
  height: 75px;
  padding: 15px 16px 50px;
}

.side-nav a:hover {
  background-color: #fff;
}

nav ul a:hover, nav ul a:visited, nav ul a:active, nav ul a:focus {
  border: none;
}

/* Tablet */
@media only screen and (min-width : 601px) and (max-width : 1024px) {

  .center-auto-m { float: none !important; margin: 0 auto !important; }

  .team .icon-block {
    width: 200px;
  }
  .team .icon-block .social img {
    width: 28px;
  }

  .team .team-row, .team .open-row {
    margin-left: 0px;
  }

  .home .page-content .top-half {
    background-position: center 120px;
  }
  .home.home-2 .page-content .top-half {
    background-position: center 70px;
    padding: 0 0 40px;
  }

  .home-logo-link {
    width: 18vw;
  }

  .home-logoWrapper {
    bottom: 30px;
  }

  .home-logoWrapper.home-logoWrapper-bounce {
    bottom: 60px;
  }

  nav ul a {
    padding: 15px 10px 0 10px;
  }
}

@media only screen and (min-width : 601px) and (max-width : 992px) {

  .row .tabs .col.offset-m2 {
    margin-left: 15px;
  }

  .team .icon-block .social {
    margin: 0 3px;
  }

  .team-container {
    max-width: 750px;
  }

  .team .icon-block {
    margin: 0 0px 45px;
    padding: 30px 0;
    width: 100%;
  }

  .team-openings {
    padding: 7px 30px;
  }

  .team-openings-block p {
    line-height: 20px;
  }

  .team .open-row .apply {
    font-size: 12px;
    padding: 7px 5px;
  }

}


@media only screen and (min-width : 1700px) {

  nav ul a {
    font-size: 0.9vw;
  }
}

/* Phone */
@media only screen and (max-width : 600px) {

  .center-auto-s { float: none !important; margin: 0 auto !important; }

  body.team .lead {
    margin: -95px 0 100px;
  }

  body.team .lead h1 {
    font-size: 30px;
  }

  body.team .lead p {
    display: none;
  }

  #open .lead {
    margin: -115px 0 100px;
  }

  #open .lead p {
    display: none;
  }

  footer .footer-copyright {
    font-size: 11px;
  }

  .tabs {
    height: 100px;
    top: 65px;
  }

  .tabs .tab a {
    font-size: 10px;
  }

  .tabs .tab.tab-1 {
    position: relative;
    right: -100px;
    top: 5px;
    width: 100%;

  }

  .tabs .tab.tab-2 {
    position: relative;
    right: 115px;
    top: 45px;
    width: 100%;
  }

  .team-openings {
    padding: 7px 30px;
  }

  .team .open-row .apply {
    font-size: 12px;
  }

  .team .icon-block {
    height: 85vw;
    width: 75%;
    margin-left: 12%;
  }

  .team .icon-block p {
    font-size: 10px;
  }

  .team .team-row, .team .open-row {
    margin-left: 0;
  }
}
