.side-nav a {
  font-size: 30px;
  height: 75px;
  padding: 15px 16px 50px;
}

.side-nav a:hover {
  background-color: #fff;
}

@media only screen and (min-width : 1300px) {

.home .skew {
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
  }

}


/* Tablet */
@media only screen and (min-width : 601px) and (max-width : 1024px) {

  .center-auto-m { float: none !important; margin: 0 auto !important; }

  .team .icon-block {
    width: 200px;
  }

  .team .team-row, .team .open-row {
    margin-left: 0px;
  }
}

/* Phone */
@media only screen and (max-width : 600px) {

  .center-auto-s { float: none !important; margin: 0 auto !important; }

  body.team .lead {
    margin: -95px 0 100px;
  }

  body.team .lead h1 {
    font-size: 30px;
  }

  body.team .lead p {
    display: none;
  }

  #open .lead {
    margin: -115px 0 100px;
  }

  #open .lead p {
    display: none;
  }

  .home .skew {
    bottom: 120px;
  }

  .home-banner {
    margin: 0 0 100px;
  }

  .home-logo {
    margin-bottom: 15px;
    padding: 0;
    width: 120px;
  }

  /*.home-logoWrapper {
    bottom: 80px;
  }*/

  .home-logoWrapper span {
    display: none;
  }

  .home.home-2 .skew {
    height: 350px;
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
    transform: skewY(-3deg);
  }

  .tabs {
    height: 100px;
    top: 65px;
  }

  .tabs .tab.tab-1 {
    position: relative;
    right: -100px;
    top: 5px;
    width: 100%;

  }

  .tabs .tab.tab-2 {
    position: relative;;
    right: 115px;
    top: 45px;
    width: 100%;
  }

  .team .icon-block {
    height: 320px;
    width: 75%;
    margin-left: 12%;
  }

  .team .team-row, .team .open-row {
    margin-left: 0;
  }
}

/* Special cases */
@media only screen and (min-width : 601px) and (max-width : 992px) {

  .row .tabs .col.offset-m2 {
    margin-left: 15px;
  }

}

@media only screen and (min-width : 475px) and (max-width : 600px) {
  .home.home-2 .skew {
    bottom: 200px;
  }
}
